
h1 {
    color: black;
    cursor: pointer;

    &:hover {
        color: green;
    }
}

a {
    color: blue;
    text-decoration: none;

    &:hover {
        color: red;
        font-size: 30px;
        font-weight: 800;
    }
}